.cah-board {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "selectedCards selectedCards selectedCards selectedCards"
    "roomBadge     ............. ............. ............."
    "scoreboard    playerHand    playerHand    playerHand   ";
  height: 100vh;

  cah-player {
    place-self: end center;
    padding: 32px;
    grid-area: playerHand;
  }

  cah-room-badge {
    padding: 32px;
    grid-area: roomBadge;
    place-self: center start;
  }

  cah-scoreboard {
    padding: 32px;
    place-self: start start;
    grid-area: scoreboard;
  }

  cah-selected-cards {
    padding: 32px;
    grid-area: selectedCards;
  }
}
