<div class="white-card-container" [@revealCard]="card.dummy ? 'hidden' : 'revealed'">
  <div class="white-card-front"> <!-- *ngIf="!card.dummy"-->
    <h2>{{ card.text }}</h2>
    <div class="card-caption-container front">
      <p>Cards</p>
      <p>Against</p>
      <p>Humanity</p>
    </div>
    <div class="card-icon-container">
      <div class="card-icon-full"></div>
      <div class="card-icon-border-slanted"></div>
    </div>
  </div>
  <div class="white-card-back"> <!-- *ngIf="card.dummy" -->
    <div class="card-caption-container back">
      <p>Cards</p>
      <p>Against</p>
      <p>Humanity</p>
    </div>
  </div>
</div>
