@import "vars";

.black-card-container {
  border-radius: 4px;
  background-color: black;
  padding: 16px;
  width: $card-width;
  height: $card-height;
  position: relative;
  > h2 {
    font-size: 1.5rem;
    color: white;
    margin: 0;
    padding: 0;
    font-family: Helvetica, "sans-serif", Arial;
    word-break: break-word;
  }
  > .card-icon-container {
    width: auto;
    height: auto;
    bottom: 0;
    right: 0;
    position: absolute;

    .card-icon-full {
      position: absolute;
      bottom: 32px;
      right: 32px;
      z-index: 2;
      background-color: white;
      height: 32px;
      width: 24px;
      border-radius: 3px;
    }
    .card-icon-border-slanted {
      position: absolute;
      bottom: 34px;
      right: 44px;
      z-index: 1;
      border: 1px solid white;
      height: 32px;
      width: 24px;
      border-radius: 3px;
      transform: rotate(-10deg);
    }
  }
}
