@import "mixins";
.scoreboard {
  border: 1px solid black;
  width: 256px;
  border-radius: 4px 4px 0 0;
  grid-template-columns: 1fr;
  grid-template-rows: 48px 256px;
  grid-template-areas:
    "header"
    "list";

  &__header {
    @include unselectable();
    font-size: 1.5rem;
    font-weight: bold;
    padding: 8px 12px;
    margin: 0;
    color: white;
    background-color: black;
    grid-area: header;
    &__subtitle {
      @include unselectable();
      margin: 4px 0 8px;
      padding: 0;
      font-size: 1rem;
    }
  }

  &__list {
    grid-area: list;
    height: 256px;
    overflow-y: auto;

    cah-scoreboard-item {
      border-bottom: 1px solid black;
      &:last-child {
        border-bottom: unset;
      }
    }
  }

  &__footer {
    border-top: 1px solid black;
    display: flex;
    flex: 1;
    justify-content: center;
    align-content: center;
    padding: 8px 0;
  }
}
