<div class="scoreboard">
  <div class="scoreboard-header">
    Scoreboard
  </div>
  <div class="scoreboard-list-container">
    <cah-scoreboard-list></cah-scoreboard-list>
  </div>
</div>
<div class="scoreboard-information" [ngSwitch]="informationState">
  <ng-container *ngSwitchCase="0">
    Waiting for players...
  </ng-container>
  <ng-container *ngSwitchCase="1">
    Player 1 is the czar
  </ng-container>
  <ng-container *ngSwitchCase="2">
    Next round starts in ...
  </ng-container>
</div>
