.cah-room-badge-wrapper {
  border: 1px solid black;
  border-radius: 4px;
  background-color: white;
  padding: 24px;

  .cah-room-badge-container {
    background-color: #e3e3e3;
    border-radius: 2px;
    padding: 2px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    grid-template-areas: "header" "content";
    grid-row-gap: 4px;

    .cah-room-badge-header {
      grid-area: header;
      font-size: 12px;
      margin: 0;
      padding: 0;
      font-weight: 100;
    }
    .cah-room-badge-content {
      grid-area: content;
      font-size: 14px;
    }
  }
}
