<div class="cah-board">
  <cah-selected-cards [isLoading$]="gameRoomLoading$"
                      [selectedBlackCard$]="selectedBlackCard$"
                      [selectedWhiteCards$]="selectedWhiteCards$"></cah-selected-cards>
  <cah-scoreboard [players$]="players$"
                  [czarPlayer$]="czarPlayer$"
                  [isLoading$]="playersLoading$"
                  [leadingPlayer$]="leadingPlayer$"
                  [localPlayer$]="localPlayer$"></cah-scoreboard>
  <cah-player></cah-player>
</div>
